/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

:root {
    /*colors*/
    --primary: #F8B500;
    --secondary: #54585A;
    --base: #ffffff;

    /*spacings*/
    --spacings-small: ;

    /*font-family*/
    --font-title: 'Cormorant', serif;
    --font-text: 'Inter', sans-serif;

    /*font-sizes*/
    --text-small: 1.6rem;
    --text-medium: 4rem;
    --text-larg: ;

}

/*NORMALIZE*/

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-text);
    font-weight: bold;
    font-size: var(--text-small);
    color: #54585A;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

/* GENERAL */

.title{
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: var(--text-medium);
    font-weight: bold;
}

.subtitle{
    font-family: 'Cormorant', serif;
    font-size: 30px;
    font-weight: bold;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.form__checkin{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin: 2%;
    background-color: #54585A;
    border-radius: 15px;
}

.top--img{
    width: 100%;
}

.text--yellow{
    color: var(--primary);
}

.text--white{
    color: var(--base);
}

/*HEADER STYLE*/

.header{
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__logo{
    height: 5.5rem;
}

.header__nav {
    width: 50%;
}

.header__pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.header__pages__link {
    text-decoration: none;
    color: var(--base);
    font-size: 1.2rem;

}

.main--link {
    color: var(--primary);
}

.header__social__link {
    height: 2.5rem;
}

/* MAIN HOME STYLE*/

.home--top--img{
    width: 100%;
}

.nosotros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    gap: 1em;
    margin: 5em 0;
}

.nosotros__text{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 40%;
}

.restaurante{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    gap: 1em;
    margin: 5em 0;
}

.restaurante__text{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 34%;
}

.container--card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    margin: 5em;
}

.card{
    background-color: #54585A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29rem;
    height: 40rem;
    margin-bottom: 10%;
}

.card__img{
    width: 100%;
    margin-bottom: 1.5rem;
}


.card__title{
    color: var(--primary);
    font-family: var(--font-title);
}

.card__text{
    text-align: center;
    color: var(--base);
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10% 10%;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
}

.reviews_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary);
    height: 20rem;
    width: 70rem;
    margin: 5rem auto;
    text-align: center;
    border-radius: 15px;
    padding: 2em;  
}

/*MAIN HABITACIONES STYLE*/

.room{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    gap: 1em;
    margin: 5em 0;
}

.room__reverse{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    gap: 1em;
    margin: 5em 0;
}

.room__text{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 40%;
}

/*MAIN SERVICIOS STYLE*/

.service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    gap: 1em;
    margin: 5em 0;
}

.service__reverse{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items:center;
    gap: 1em;
    margin: 5em 0; 
}

.service__text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 40%;
}


/*MAIN GALERIA STYLE*/

.galery{
    margin: 5%;
}

/*MAIN CONTACTO STYLE*/

.contact1{
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin: 3% 30%;
}

.contact{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.contact__form{
    background-color: #54585A;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    border-radius: 15px;
}

/*FOOTER STYLE*/

.footer {
    background-color: #54585A;
    padding: 3% 0;   
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title{
    font-size: 20px;
}

.footer__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.footer__info__contact__link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
}

.footer__info__contact{
    text-align: center;
}

.footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 2% 0;
}

.footer__nav__pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.footer__pages__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}

.main--link {
    color: #F8B500;
}